body {
  background-color: #48c3db;
  font-family: Arial;
  text-align: center;
}
.videotext {
  font-size: 14px;
  font-style: bold;
  color: white;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
ul {
  display: table;
  margin: 0 auto;
}
#contactinfo {
  background-color: white;
  padding: 5px;
  border: 1px solid blue;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
#edinfo {
  background-color: white;
  padding: 5px;
  border: 1px solid blue;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
#workinfo {
  background-color: white;
  padding: 5px;
  border: 1px solid blue;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
#skillsinfo {
  background-color: white;
  padding: 5px;
  border: 1px solid blue;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.door {
  height: 500px;
  width: 500px;
}
.iit {
  height: 320px;
  width: 650px;
}
.nav{
  background-color: white;
  border: 1px solid #ccc;
  width: 20%;
  list-style: none;
  margin: 0;
  padding: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.nav li{
  display: inline;
}
.nav a{
  display: inline-block;
  padding: 7px;
}
h2 {
  font-family: 'Raleway', sans-serif;
}
.restitle {
  font-family: 'Raleway', sans-serif;
}
.inxheader {
  font-style: italic;
}
	